version: '3.6'

services:
  homepage:
    image: nginx:alpine
    container_name: homepage
    depends_on:
      - app
    ports:
      - "80:80"
      - "443:443"
    restart: always
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d:ro
      - ./nginx/index.html:/usr/share/nginx/html/index.html:ro
      - ./certbot/www:/var/www/certbot/:ro
  certbot:
    image: certbot/certbot:latest
    volumes:
      - ./certbot/www/:/var/www/certbot/:rw
  db:
    image: postgres:14.1
    container_name: db
    expose:
      - "5432"
    volumes:
      - ./db/1_database.sql:/docker-entrypoint-initdb.d/1_database.sql
      - ./db/2_schema.sql:/docker-entrypoint-initdb.d/2_schema.sql
      - ./db/3_data.sql:/docker-entrypoint-initdb.d/3_data.sql
    environment:
      POSTGRES_USER: username1
      POSTGRES_PASSWORD: password1
  app:
    image: oskarwestmeijer/weather-api:latest
    container_name: app
    depends_on:
      - db
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/weather
      - SPRING_DATASOURCE_USERNAME=username1
      - SPRING_DATASOURCE_PASSWORD=password1
    expose:
      - "8080"