version: '3.6'

services:
  homepage:
    image: nginx:alpine
    container_name: homepage
    deploy:
      resources:
        limits:
          memory: 250M
        reservations:
          memory: 250M
    networks:
      - proxy
    ports:
      - "80:80"
      - "443:443"
    restart: always
    volumes:
      - ./nginx/index.html:/usr/share/nginx/html/index.html:ro
      - ./nginx/experience.html:/usr/share/nginx/html/experience.html:ro
      - ./nginx/values.html:/usr/share/nginx/html/values.html:ro
      - ./nginx/images/:/usr/share/nginx/html/images/:ro
      - ./nginx/conf.d/:/etc/nginx/conf.d/:ro
      - ./certbot/www:/var/www/certbot/:ro
      - ./certbot/conf/:/etc/nginx/ssl/:ro
  certbot:
    image: certbot/certbot:latest
    networks:
      - proxy
    volumes:
      - ./certbot/www/:/var/www/certbot/:rw
      - ./certbot/conf/:/etc/letsencrypt/:rw
  database:
    image: postgres:14.1
    container_name: database
    deploy:
      resources:
        limits:
          memory: 500M
        reservations:
          memory: 500M
    networks:
      - proxy
    expose:
      - "5432"
    restart: always
    volumes:
      - data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: username1
      POSTGRES_PASSWORD: password1
networks:
  proxy:
    # bridge on a single host and overlay on a Swarm.
    driver: bridge
volumes:
  data:
