version: '3.6'

services:
  homepage:
    image: oskarwestmeijer/homepage:1.2
    container_name: homepage
    deploy:
      resources:
        limits:
          memory: 250m
        reservations:
          memory: 250m
    expose:
      - "80"
    restart: always
networks:
  default:
    name: server-infrastructure-proxy
    external: true
