version: '3.6'

services:
  homepage:
    image: oskarwestmeijer/homepage:latest
    container_name: homepage
    deploy:
      resources:
        limits:
          memory: 100m
        reservations:
          memory: 100m
    expose:
      - "80"
    restart: always
    volumes:
      - ../server-infrastructure/certbot/www:/var/www/certbot/:ro
      - ../server-infrastructure/certbot/conf/:/etc/nginx/ssl/:ro
networks:
  default:
    name: proxy
    external: true
