@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: var(--mantine-spacing-xl);
    padding-bottom: var(--mantine-spacing-xl);
    border-top: 5px;
}

.mantine-Timeline-itemTitle {
    color: #d9480f !important;
    font-weight: bold;
}
