name: branch-build-test

on:
  push:
    branches:
      - '**'
      - '!main'

jobs:

  frontend-build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/frontend-build-and-test

  codeql-check:
    uses: ./.github/workflows/codeql.yml
    permissions:
      actions: read
      contents: read
      security-events: write

  frontend-check-trivy-image:
    runs-on: ubuntu-latest
    needs: [ frontend-build-and-test ]
    environment: oskar-westmeijer-environment
    permissions:
      actions: read
      contents: read
      security-events: write
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/frontend-check-trivy-image
        with:
          docker-username: ${{ secrets.DOCKER_USERNAME }}
          github-sha: ${{ github.sha }}
